.container-fluid, .row, .col-sm, .col-sm-12{
    padding: 0px;
    margin: 0px;
    }

    body{
        height: 3000px;
    }
    
    .header{
        width: 100%;
        height: 60px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
        justify-content: space-between;
        position: fixed;
        top: 0px;
        z-index: 11000;
    }
    
    .nav-brand i{
        display: flex;
        align-items: center;
        padding-top: 8px;
        padding-left: 0px;
    font-size: 35px;
    justify-content: center;
    }
    .nav-brand{
        border-radius: 100%;
        width: 40px;
        height: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .nav-link:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }

    .eb:hover{
        border-radius: 20px !important;
       }
    
    .ser{
        margin-left: 10px;
        width: 250px;
        border-radius: 15px;
        height: 40px;
        background-color: #F0F2F5;
        padding: 10px;
    }
    .x-sf{
        background-color: transparent;
        border: 0px;
        outline: none;
    }

    
    .x-tab i{
        font-size: 25px;
        margin-left: 35px;
    }
    
    .x-tab .nav{
        border: 0px;
        outline: none;
        position: absolute;
        left: 35%;
    }
    
    
    .x-tab, .xnav-tabs {
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .xactive{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .nav-item:hover .toolt{
        display: inherit;
    }
    
    .toolt{
        width: 60px;
        height: 30px;
        background-color: rgb(19, 18, 18);
        position: absolute;
        left: 30px;
        top: 60px;
        z-index: 7000;
        color: white;
        padding: 5px;
        padding-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 4px;
        display: none; 
    }
    
    
    
    .x-user{
        border: 1px solid black;
        border-radius: 100%;
        padding: 4px;
    }
    
    
    .x-fa .nav-link{
    margin-left: 20px;
    margin-top: 10px;
    }
    
    .cl i{
    
    font-size: 20px;
    }
    
    .x-sf::placeholder{
        padding-left: 10px;
    }
    
    .eben{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
    }
    
    .th i{
        font-size: 20px;
    }
    .th{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .mh i{
        font-size: 20px;
    }
    .mh{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .bell i{
        font-size: 20px;
    }
    .bell{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .caret i{
        font-size: 20px;
    }
    .caret{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .x-bod{
        width: 100%;
        height: 3000px;
        border-radius: 0px;
        border: 0px;
        outline: none;
        text-align: center;
        padding-top: 90px;
    }
    
    .cpane{
    position: relative;
    margin-top: 0px;
    padding: 0px;
    }

    .bodpro{
      position: sticky;
      margin-top: -30px;
      top: -350px;
      z-index: 7000;


    .xpro{
        position: relative !important;
        top:-31px;
        padding-left: 0px;
        border-radius: 0px;
        overflow: hidden;
        height: 282px;
        max-width: 80%;
        border-radius: 10px;
        left: 10%;
    

        &::after{
            content: "";
            width: 100%;
            min-width: 100%;
            height: 90px;
            background-color: rgba(0, 0, 0,0.5);
            position: absolute;
            top: 190px;
        }

        .xpromage{
            margin-left: 10%;
            margin-top: -37%;
            width: 900px;
            // max-width: 1200px;

        }

        .propic{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            min-width:170px;
            height: 170px;
            border-radius: 100%;
            border: 5px solid white;
            position: relative;
            left: 44%;
            top: -350px;
            z-index: 3000;
        }

        
        .cam{
            width: 35px;
            min-width: 35px;
            min-height: 35px !important;
            border-radius: 100% !important;
            background-color: #e7e3e3;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: 55%;
            top: -435px;
            z-index: 3000;
        }

        .camed{
            width: 180px;
            min-width: 180px;
            height: 40px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            position: relative;
            left: 69%;
            top: -430px;
            z-index: 3000;

            i{
                margin-left: -10px;
            }
            p{
                font-weight:500;
                padding-left: 10px;
                padding-top: 15px;
            }
        } 
    }
   .name{
     justify-content: center;
     align-items: center;
     height: 30px;
    .boldname{
        font-size: 30px;
        font-weight: bold;
    }

    .normalname{
        font-size: 30px;
    }

    .sta{
        display: flex;
        justify-content: center;
        align-items: center; 
        margin-top: -40px !important;
        height: 30px;
    }

    .xbtn{
        width: 20px;
    }
}
}

.nav-tabs {
    border-bottom: 1px solid transparent;
  }


  .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: white;
  border-bottom: 3px solid rgb(81, 81, 224);
}


.nav-tabs .nav-link{
    color: black;
}

.tog i{
    margin-top: 13px;
}

.togmuch{
    width: 100px;
i{
    margin-top: 13px;
    font-size: 20px;  
}
}

.isbody{
justify-content: center;
align-items: center;

    .cardone{
        max-width: 30%;
        margin-top: -64%;
        box-shadow: 0px 0px 2px;
        .btn{
        height: 35px !important;
        background-color: #D8DADF !important;
        color: black;
        font-size: 14px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        }
    }

    .cardtwo{
        margin-left: 30px;
        max-width: 40%;
        background-color: transparent;
        border: 0px;
        outline: none;
    }

}


.x-carone{
    margin-top: 20px;
    margin-left: 50px;
    height: 120px;
    width: 100%;
    min-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 2px;
}

.imgpost{
    height: 40px;
    width: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inppost{
    outline: none;
    border: 0px;
    background-color: transparent;
    width: 100%;
    font-size: 17px;
    &::placeholder{
        background-color: transparent;
    }
   
}

.postser{
    background-color: #E4E6E9;
    margin-left: 20px;
    padding: 2px;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
&:hover{
background-color: rgba(0, 0, 0, 0.2);
}
}

.posfa{
    margin-top: -8px;
  i{
    font-size: 25px; 
    color: red; 
  }
}

.smi{
    font-size: 25px;
    margin-top: -8px;
}


.liv:hover{
background-color: rgba(0, 0, 0, 0.1);
height: 30px;
}

.pho, .smiley{
    @extend .liv;
}

.pst{
    margin-top: 20px;
    width: 100%;
    margin-left: 10%;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 0px 2px;
    border-radius: 5px;
    .btn{
        margin-left: 10px;
        max-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #E4E6E9 !important;
    }
     .line{
     width: 100% !important;
     margin-top: -3px;
     }   
}

.postone{
    width: 100%;
    min-width: 100%;
    margin-left: -0px;

    .posoe{
        width: 40px;
        height: 40px ;
        border-radius: 100% ;
    }

    .psp{
        height: 20px;
        .mk{
            font-weight: bold;
            min-width: 150px;
        }
    }

    .mike{
        margin-left: 50%;
        margin-top: 15px;
    }
    
    .fih{
    margin-left: 40px;
    margin-top: 2px;
    }
}

.modal-content{
    position: absolute;
    z-index: 6000;
    margin-top: 50px;
}

.ebenmod{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.fapub{
    margin-left: 45px;
    margin-top: -13px;
    width: 90px;
    padding-left: 10px;
    padding-top: 5px;
    height: 25px;
    border-radius: 5px;
    background-color: #E4E6EB;
    p{
        font-size: 14px;
        font-weight: bold;
        margin-top: -3px;
        padding-left: 4px;
        padding-right: 4px;
    }
}


.pos{
     height: 100px;
     background-color: transparent;
     outline: none;
     border: 0px;
     padding-left: 0px;
    .txtarea{
        width: 100%;
        height: 100px;
        border: 0px;
        outline: none;
        background-color: transparent;
        resize:none;
    }
.posinp{
    width: 100%;
    background-color: transparent;
    position: absolute;
    margin-left: -10px;
    padding-left: 15px;
}

&:focus-within .posinp{
display: none;
}

}
.nem{
    div{
        width: 30px;
        height: 30px;
        background: linear-gradient(red, yellow, green);
        color: white;
        text-shadow: 0px 0px 4px black;
        padding-left: 4px;
    }
}

.add{
    border: 1px solid rgb(66, 65, 65);
    padding-left: 15px;
}

.posbut{
    margin-top: 20px;
}

.x-fafa{
    margin-top: 5px;
    div{
    margin-left: 10px;
    }
}








   

    
    @media(max-width:1351px){
        .tog{
            display: none;
        }
     
        .isbody{
            display: block !important;

            .cardone{
              margin-left: 15%;
              max-width: 70% !important;
            }

            .cardtwo{
                margin-left: 20%;
                max-width: 50%;
                .x-carone{
                    margin-left: 10% !important;
                }
            }
        } 
        
        .propic{
            top: -330px !important;
            left: 39% !important;
             }

             .cam{
              top: -430px !important; 
              left: 52% !important;  
             }

             .camed{
                 top: -390px !important;
                 left: 60% !important;
             }
    }

 
    
    @media(max-width:1306px){
        .x-tab .nav{
            border: 0px;
            outline: none;
            position: absolute;
            left: 20%;
        }
        .ser{
            width: 40px;
            border-radius: 100%;
            margin-top: 5px;
        }
    
        .x-sf::placeholder{
            visibility: hidden;
        }
    
        .ser input{
            display: none;
        }
    
        .ser:hover {
            position: absolute;
            z-index: 2000;
            margin-left: 60px;
            width: 280px;
            display: flex;
            border-radius: 15px;
        }
    
        .ser:hover input{
            display: inherit;
            padding: 10px;
        }
    
        .ser:hover .x-sf::placeholder{
            visibility: visible;
        }

        .x-carone{
            margin-top: 200px;
            width: 100%;
            margin-left: -5px;
        
            i, .smi{
                font-size: 16px;
            }
        
            .pho{
               display: none;
            }
        
            .smiley{
                margin-top: -2px;
                height: 30px;
                padding: 5px;
                p{
                    margin-top: -4px;
                }
            }
        
            p{
                font-size: 10px;
            }
        }

        .cardtwo{
            margin-top: -14% !important;
        }

    }


    @media (max-width:1200px) {

        .propic{
            top: -370px !important;
            left: 44% !important;
             }

             .cam{
              top: -460px !important; 
              left: 59% !important;  
             }

             .camed{
                 top: -430px !important;
                 left: 75% !important;
             }
        
    }





    @media(max-width:1143px){
        .one, .two, .three, .four{
               display: none;
           }
         }



 @media(max-width:1064px){
.cardtwo{
 max-width: 60% !important;
margin-left: 14% !important;
                }
                 }
    
    @media(max-width:1040px){
      
        // .xpromage{
        //     max-width: 700px !important;
        // }
    
    }


    @media(max-width:955px){
        .xpromage{
         max-width: 700px;   
        }

        .propic{
            top: -300px !important;
            left: 39% !important;
             }

             .cam{
              top: -400px !important; 
              left: 58% !important;  
             }

             .camed{
                 top: -360px !important;
                 left: 70% !important;
             }
    }


    @media(max-width:936px){
        .reuse{
        width: 40px;
        
        margin-left: -200px !important;
        }

        .xnavit{
            margin-top: -130px !important;
        }
        }

    @media(max-width:910px){
            .x-fa{
            .xna{
            .nav-link{
            margin-left: 10px !important;
                                        }
                                    }
                                }
                                            }

        @media(max-width:884px){
            .cardtwo{
                max-width: 70% !important;
                margin-left: 9% !important;
                margin-top: -20% !important;
            }
            }


            @media(max-width:855px){
         .xpromage{
          max-width: 600px !important;
             }

             .propic{
            top: -200px !important;
            left: 35% !important;
             }

             .cam{
              top: -300px !important;   
             }

             .camed{
                 top: -280px !important;
             }
            }
    
        @media(max-width:820px){
            .offnav-tabs {
               display: none;
            }    
         
         }

         @media(max-width:760px){   
            .cardtwo{
                max-width: 80% !important;
                margin-left: 2% !important;
                margin-top: -23% !important;
            }
         }


         @media(max-width:750px){
            .xpromage{
             max-width: 300px;   
            }
    
            .propic{
                top: -270px !important;
                left: 39% !important;
                 }
    
                 .cam{
                  top: -400px !important; 
                  left: 65% !important;  
                 }
    
                 .camed{
                     top: -330px !important;
                     left: 70% !important;
                 }
        }

         
         @media(max-width:709px){
        .one, .two, .three, .four{
               display: none;
           }
         }

         @media(max-width:664px){   
            .cardtwo{
                max-width: 90% !important;
                margin-left: -4% !important;
                margin-top: -27% !important;
            }
         }

@media(max-width:662px){
        .xnv{
            display: none !important;
        }

        .tog{
            display: inherit !important;
        }

 }    
 
 @media(max-width:750px){
    .xpromage{
     max-width: 500px !important;   
    }

    .propic{
        top: -200px !important;
        left: 35% !important;
         }

         .cam{
          top: -300px !important; 
          left: 65% !important;  
         }

         .camed{
             top: -200px !important;
             left: 50% !important;
         }
}

 @media(max-width:593px){
    .boldname{
        font-size: 15px !important;
    }

    .normalname{
        font-size: 15px !important;
    }
             }


 @media(max-width:590px){   
    .cardtwo{
        max-width: 100% !important;
        margin-left: -9% !important;
        margin-top: -27% !important;

        .dd{
       margin-left: -2% !important;
        }
    }
 }
    
    
       @media(max-width:575px){
        .mell{
            margin-top: 10px;
            margin-left: 50px;
 
            .kill{
                display: none;
            }
        }
        .mell:focus-within .kill{
            display: flex;
        }
        .cpane{
            left: 0%;
        }
    
        .x-carone{
            width:100%; 
            left: 0%;  
           }
        } 

        @media(max-width:570px){
            .xpromage{
             max-width: 400px !important;   
            }
        
            .propic{
                top: -200px !important;
                left: 30% !important;
                 }
        
                 .cam{
                  top: -300px !important; 
                  left: 65% !important;  
                 }
        
                 .camed{
                     top: -170px !important;
                     left: 50% !important;
                 }
        }

        @media(max-width:525px){
        .mell{
     margin-left: -5px !important;
            }
        }

        @media(max-width:500px){
         .cardone{
           min-width: 92%;
           margin-left: 4% !important;
         }
          
         .xpromage{
            max-width: 400px !important; 
           }

         .propic{
            top: -200px !important;
            left: 30% !important;
             }
    
             .cam{
              top: -300px !important; 
              left: 65% !important;  
             }
    
             .camed{
                 top: -170px !important;
                 left: 30% !important;
             }

            } 


            @media(max-width:455px){
                .dd{
               margin-left:-7% !important;
                }
            }

            @media(max-width:445px){
                .mm{
                    max-width: 150px !important;
                    .active{
                        padding-left: 20px !important;
                    }
                }
                 
                .cardtwo{
                    margin-top: -40% !important;
                }

.mell{
    margin-left: 50px !important;
}
                   } 

@media(max-width:438px){
.cardone{
 padding-left: 2px !important;
 margin-left: 6% !important;
  }

  .pst{
      display: block !important;
      .mpst{
          margin-left: 20%;
      }


  }

  .pstbtn{
      display: block !important;
       margin-left:15%;
      .btn{
          margin-bottom: 10px;
      }
  }

  .vv{
      display: block !important;
      margin-left: 12%;

      .dd{
          margin-left: 1% !important;
      }
  }

  .mike{
      margin-left: 30% !important;
  }

  .xpromage{
    width: 300px !important;
}

}

@media(max-width:382px){
    .mell{
  margin-left: 60px !important;
    }
}

@media(max-width:360px){
    .xpromage{
        max-width: 400px !important; 
       }

     .propic{
        top: -100px !important;
        left: 20% !important;
         }

         .cam{
          top: -300px !important; 
          left: 67% !important;  
         }

         .camed{
             top: -140px !important;
             left: 20% !important;
         }
}
    
    
    